* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  color: #0f2336;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0f2336;
}

nav {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_inner {
  width: 1240px;
  height: 50px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

nav .nav_inner_list {
  width: 410px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav_inner_list p {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

nav .nav_inner_list button {
  width: 122px;
  height: 50px;
  background-color: #0f2336;
  color: #fff;
  border: 1px solid #0f2336;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero {
  display: flex;
  height: auto;
  margin: 70px auto;
}

.hero__left button {
  background-color: #00cccc;
  font-size: 18px;
  font-weight: 700;
  width: 208px;
  height: 60px;
  border-radius: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 3px 18px 0px rgba(0, 201, 201, 0.55);
}

.hero__left h1 {
  font-size: 55px;
  line-height: 80px;
  margin-bottom: 50px;
}

.hero__left {
  width: 50%;
}

.hero__right #trees {
  width: 732px;
  margin-top: -103px;
}

.hero__right {
  width: 85%;
  position: relative;
}

.hero__right #hero_image {
  position: absolute;
  height: 537px;
  bottom: 4px;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.features {
  display: flex;
  margin: 100px auto;
  justify-content: space-between;
}

.features .feature {
  width: auto;
  max-width: 325px;
  margin: 20px 0;
}

.features h2 {
  margin-top: 30px;
}

.features p {
  margin-top: 12px;
  color: #576d81;
  font-size: 16px;
}

.info {
  display: flex;
  align-items: center;
  margin: 100px auto;
  height: 540px;
  background-color: #f4f5f6;
  border-radius: 50px;
}

.info img {
  width: 580px;
  height: 640px;
}

.info__description img {
  width: 109px;
  height: 10px;
  margin-top: 50px;
}

.info .info__description h2 {
  font-size: 40px;
  max-width: 195px;
  margin: 20px 0;
}

.info .info__description p {
  max-width: 414px;
  font-size: 16px;
  color: #576d81;
  line-height: 24px;
}

.benefits {
  width: 100%;
  height: 527px;
  margin: 0 auto;
  max-width: 1440px;
  margin-bottom: 180px;
  background-color: #f4f5f6;
}

.benefits__content {
  display: flex;
  align-items: center;
  position: relative;
}

.benefits__list {
  width: 505px;
  margin-top: -37px;
  display: flex;
  flex-direction: column;
}

.benefits__list_item {
  width: 455px;
  height: 179px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0px 8px 32px 0px rgba(15, 35, 54, 0.06);
  padding: 25px;

  display: flex;
}

.benefits__list_item img {
  width: 50px;
  height: 50px;
  margin-right: 23px;
}

.benefits__list_item:nth-child(2) {
  align-self: flex-end;
}

.benefits__list_item_desc {
  margin-top: 13px;
  max-width: 310px;
}

.benefits__list_item_desc h2 {
  font-size: 25px;
  margin-bottom: 25px;
}

.benefits__list_item_desc p {
  color: #576d81;
  font-size: 16px;
}
#benefits-img {
  width: 50%;
  height: auto;
  position: absolute;
  right: 0;
  top: -73px;
}

.info:last-child {
  justify-content: space-evenly;
  padding: 50px;
}

.input {
  width: 100%;
  height: 383px;
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
}

#store {
  width: 90px;
  height: 78px;
  margin: 23px auto;
}

.input h1 {
  display: flex;
  width: 519px;
  flex-direction: column;
  color: #0f2336;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
}

.input__form input {
  width: 394px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #f0f0f2;
  background-color: #f0f0f2;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

input {
  text-align: center;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.35);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.6px;
}

.input__form button {
  width: 156px;
  height: 55px;
  border-radius: 14px;
  border: 1px solid #0cc;
  background: #0cc;
  color: #0f2336;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.6px;
}

footer {
  width: 100%;
  height: 297px;
  background-color: #0f2336;
  margin-top: 110px;
  display: flex;
}

.footer__list {
  width: 1210px;
  height: 142px;
  padding-top: 55px;
  display: flex;
  justify-content: space-around;
}
.footer__list-right {
  margin-top: 25px;
  max-width: 530px;
  max-height: 112px;
  display: flex;
}
.footer__list-ul {
  width: 175px;
  display: flex;
  flex-direction: column;
}
.footer__list-ul li {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px; /* 143% */
  letter-spacing: 0.39px;
  list-style-type: none;
  margin-top: 5px;
}
.footer__list-ul li:first-child {
  color: #0cc;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin-bottom: 8px;
}
